<div class="card" *ngIf="weatherData">

  <!-- Search Area -->

    <div class="search">
      <form #form="ngForm" (submit)="onSubmit()">
        <input type="text" placeholder="Enter city name" spellcheck="false" name="city" [(ngModel)] = "cityName">
        <button><img src="../assets/Search 64px.png" alt=""></button>
      </form>
    </div>

    <!-- Weather Area -->

    <div class="weather">
      <img src="../assets/clear.png" class="weather-icon" *ngIf="weatherData.weather[0].main == Clear" >
      <img src="../assets/clouds.png" class="weather-icon" *ngIf="weatherData.weather[0].main == Clouds" >
      <img src="../assets/drizzle.png" class="weather-icon" *ngIf="weatherData.weather[0].main == Drizzle" >
      <img src="../assets/mist.png" class="weather-icon" *ngIf="weatherData.weather[0].main == Mist" >
      <img src="../assets/rain.png" class="weather-icon" *ngIf="weatherData.weather[0].main == Rain" >
      <img src="../assets/snow.png" class="weather-icon" *ngIf="weatherData.weather[0].main == Snow" >

      <h1 class="temp">{{ (weatherData.main.temp - 32) * 5/9 | number: '1.0-0'}}°C</h1>
      <h2 class="city">{{weatherData.name}}</h2>

        <div class="details">
            <div class="col">
              <img src="../assets/humidity.png" alt="">
                <div class="text-details">
                  <p class="humidity">{{weatherData.main.humidity}}%</p>
                  <p>Humidity</p>
                </div>
            </div>

            <div class="col">
              <img src="../assets/wind.png" alt="">
                <div>
                  <p class="wind">{{weatherData.wind.speed | number: '1.0-0'}}km/h</p>
                  <p>Wind Speed</p>
                </div>
            </div>
        </div>
    </div>
</div>



<!--
<div class="card">
     Search Area
    <div class="search">
      <input type="text" placeholder="Enter city name" spellcheck="false">
      <button><img src="../assets/Search 64px.png" alt=""></button>
    </div>

     Weather Area

    <div class="weather">
      <img src="../assets/rain.png" class="weather-icon" alt="">
      <h1 class="temp">{{24.40 | number: '1.0-0'}}°C</h1>
      <h2 class="city">Aracaju</h2>

        <div class="details">
            <div class="col">
              <img src="../assets/humidity.png" alt="">
              <div class="text-details">
                <p class="humidity">50%</p>
                <p>Humidity</p>
              </div>
            </div>

            <div class="col">
              <img src="../assets/wind.png" alt="">
              <div>
                <p class="wind">23km/h</p>
                <p>Wind Speed</p>
              </div>
            </div>
          </div>
        </div>
      </div>
-->

      <router-outlet></router-outlet>
